name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Task
        uses: go-task/setup-task@v1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: false

      - name: Build Binaries
        run: task build-all

      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        if: ${{ !env.ACT }}
        with:
          files: |
            ./publish/*
          make_latest: true
